<div class="menutg menubtn GroupInfo">麵包工廠</div>
<div class="menutg PlayerName" data="<%=id%>"><%=name%></div>
<div class="menutg PlayerMoney">
	<div class="moneynumber"><%=Money%> <i class="fa fa-usd" aria-hidden="true"></i></div>
</div>
<div class="menutg menubtn Store">店鋪</div>
<div class="menutg menubtn Cookbook">食譜</div>
<div class="menutg menubtn Warehouse">倉庫</div>