<div class="Storebox">
	<div class="StoreHDBar">
		<div class="StoreHD BuyIn ActiveStore">購買</div>
		<div class="StoreHD SellOut">販售</div>
		
		<div class="ReMoneyBox">
			<div class="ReMoneyPadding"></div>
			<div class="ReMoney moneynumber">0 <i class="fa fa-usd" aria-hidden="true"></i></div>
			<div class="ReMoneyPadding"></div>
		</div>
		
		<div class="ReMoneyBox">
			<div class="ReMoneyPadding"></div>
			<div class="ReMoney StoreCountMon">0 <i class="fa fa-usd" aria-hidden="true"></i></div>
			<div class="ReMoneyPadding"></div>
		</div>

		<div class="SCheckout">結帳</div>
	</div>
	<div class="InStorebox">
		<div class="InStore">
			<!-- load from BuyIn/SellOut ejs , default to load buy -->
		</div>
	</div>
</div>